.jokewrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.jokewrapperr{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}